@media screen and (min-width: 200px) {
}

@media screen and (min-width: 303px) {
    html, body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgb(10, 25, 47);
        color:rgb(136, 146, 176);
        overflow: visible;
        scroll-behavior: smooth;
    
        font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, 
        Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    }
    
    section{
        height: 800px;
        width: 100%;
        background:rgb(10, 25, 47);
        margin: 0;
    }
    
    nav{
        background-color:#0A192F;
        width: 100%;
        overflow: auto;
        position:fixed;
        z-index: 100;
        opacity: 1;
        
    }
    
    @keyframes fadeout{
        0%{opacity: 1}
        50%{opacity: 0.5}
        100%{opacity: 0}
    }
    
    @keyframes fadein{
        0%{opacity: 0}
        50%{opacity: 0.5}
        100%{opacity: 1}
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        float:right;
        padding: 25px 14px;
      }
    
     
    #resume{
        border: 1px solid rgb(203, 95, 250);
        padding: 8px 10px 8px 10px;
        color: rgb(203, 95, 250);
        transition: background-color 0.5s;
    }
    
    #resume:hover{
        background-color: rgba(203, 95, 250, 0.2);
    }
    
    li{
        display:inline;
    }
    
    li a{
        text-decoration: none;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        color:rgb(204, 214, 246);
        padding: 20px 20px;
        transition: color 0.5s;
    }
    
    li a:hover{
        color: rgb(203, 95, 250);
    }
    
    
    #home h1{
        color:rgb(203, 95, 250);
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 20px;
        font-weight: lighter;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 4.5em;
        margin-left: 12vw;
        
    }
    
    #home h2{
        color:rgb(204, 214, 246);
        font-size: 70px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 12vw;
    }
    
    #home h3{
        color:rgb(136, 146, 176);
        font-size: 70px;
        font-weight: bold;
        margin-top: 0;
        margin-left: 12vw;
        margin-bottom: .5em;
    }
    
    #home p{
        color:rgb(136, 146, 176);
        font-size: 20px;
        margin-top: 0;
        margin-left: 12vw;
    }
    .bounce {
        display: inline-block;
        position: relative;
        animation: bounce 0.8s infinite linear;
      }
    
    
    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    
    #about-me h1{
        color:rgb(204, 214, 246);
        font-size: 30px;
        font-weight: bold;
        margin-left: 12vw;
    }
    
    #about-me p{
        color:rgb(136, 146, 176);
        font-size: 18px;
        margin-left: 12vw;
        display:inline-block;
    }
    
    #about-me div{
        width: 50%;
        display:inline-block;
    }
    #about-me label{
        color:rgb(203, 95, 250);
    }
    
    #about-me ul{
        margin-left: 9vw;
        padding: 0;
        display: inline-block;
    }
    #about-me li p{
        display: inline;
        border: 0.5px solid rgb(203, 95, 250);
        padding: 4px 20px 4px 20px;
        margin-left: 2em;
        color:  rgb(203, 95, 250);
        transition: background-color 0.5s;
    }
    
    #about-me li p:hover{
        background-color: rgba(203, 95, 250, 0.2);
    }
    
    #about-me img{
        max-width: 359.73px;
        height: 300px;
        float: right;
        margin-top: 0;
        margin-right: 12vw;
        filter: drop-shadow(2px 2px 5px  rgb(203, 95, 250));   
    }

    hr{
        width: 30%;
        border: 0.5px solid rgb(136, 146, 176);
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    #experience{
        height: 600px;
    }
    #experience h1{
        color:rgb(204, 214, 246);
        font-size: 30px;
        font-weight: bold;
        margin-left: 12.5vw;
    }
    
    
    #positions li{
        display: block;
        padding: 10px;
        margin-left: 9vw;
        border-left: 2px solid rgba(41, 61, 90, 0.99);
        transition: border-left 0.5s;
    }
    
    #positions li:hover{
        border-left: 2px solid rgb(203, 95, 250);
    }
    
    
    #positions li a{
        color: rgba(90, 96, 115);
        transition: color 0.5s;
    
    }
    
    #positions li a:hover{
        color:rgb(203, 95, 250)
    }
    
    #pos-container{
        display:inline-block;
    }
    
    
    #desc-container{
        display: inline-block;
        margin-left: 2vw;
    }
    
    #experience h2{
        margin-bottom: 0;
        color:rgb(204, 214, 246);
    }
    #experience h3{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 13px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    
    #experience label{
        color: rgb(203, 95, 250);
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    }
    
    .active{
        border-left: 2px solid rgb(203, 95, 250) !important;
        background-color: rgba(203, 95, 250, 0.2);
    }
    
    .active a{
        color: rgb(203, 95, 250)!important;
    }
    
    .desc{
        margin-top:3%;
        font-size: 16px;
        margin-right: 0;
        padding: 0;
    }
    
    .pos-desc{
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        top: 1714.5px;
        visibility: hidden;
    }
    
    #pos1-desc{
        visibility: visible;
    }
    
    #projects label{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    }
    
    #projects h2{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    }
    #projects{
        height: 900px;
    }
    #projects h1{
        color:rgb(204, 214, 246);
        font-size: 30px;
        font-weight: bold;
        margin-left: 12vw;
    }
    
    #project1{
        margin-left: 12vw;
    }
    
    #project1 div{
        display: inline-block;
    }
    #project1 div div{
        background-color: #172a45;
        display: inline-block;
        position: relative;
        right: 50px;
        padding: 20px;
    }
    
    #projects p{
        color: #a8b2d1
    }
    #project1 img{
        width: 50%;
        transition: width 0.5s;
    }
    
    #projects h2{
        color:rgb(203, 95, 250);
        font-weight: lighter;
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 13em;
    }
    #projects h3{
        color:rgb(204, 214, 246);
        font-size: 30px;
        margin-top: 0;
        margin-left: 8em;
    }
    
    #project1 label{
        margin-top: 0.5em;
        margin-left: 19em;
        margin-bottom: 0.5em;
       
        display: block;
    }
    
    #project2 img{
        width: 50%;
        transition: width 0.5s;
    }
    
    #project2{
        margin-left: 12vw;
    }
    
    #project2 div div{
        background-color: #172a45;
        display: inline-block;
        position: relative;
        left: 0.75em;
        padding: 20px;
    }
    
    #project2 h3{
        margin-left: 0.5em;
    }
    
    #project2 h2{
        margin-left: 0.75em;
    }
    
    #project2 div{
        display: inline-block
    }
    #project2 label{
        display: block;
        margin-top: 0.5em;
        margin-left: 0.75em;
        margin-bottom: 0.5em;
    }
    #project img{
        float: right;
    }
    
    #project1 img:hover{
        width: 51%;
        filter: drop-shadow(2px 2px 5px  rgb(203, 95, 250));   
    }
    
    #project2 img:hover{
        width: 51%;
        filter: drop-shadow(2px 2px 5px  rgb(203, 95, 250));   
    }
    
    #projects i{
        transition: color 0.5s;
    }
    
    #projects i:hover{
        color: rgb(203, 95, 250);
    }
    
    #projects a{
        text-decoration-style: none;
        color: #a8b2d1;
    }
    
    #awards{
        height: 1200px;
    }
    
    
    
    #awards div{
        background-color: #172a45;
        display: inline-flex;
        flex-direction: column;
        padding: 30px;
        width: 30%;
        height: 250px;
        margin-top: 1em;
        transition: bottom 2s;
        transition: border 0.25s;
    }
    #awards div:hover{
        position: relative;
        bottom: 0.5em;
        border: solid 1px rgb(203, 95, 250);
    }
    
    #awards h1{
        color:rgb(204, 214, 246);
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    #awards h2{
        color:rgb(204, 214, 246);
        margin-bottom: 0.5em;
        font-size: 18px;
    }
    
    #awards h3{
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
        font-size: 13px;
        margin-top: 0;
        color: #8892b0;
    }
    
    #awards p{
        color: #a8b2d1;
        display: inline;
        margin: 0;
        font-size: 17px;
    }


    .left{
        margin-left: 15vw;
    }
    
    .right{
        margin-left: 1%;
    }
    
    #awards i{
        color:rgb(203, 95, 250);
    }
}
